<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Denali CSS & Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/denali-icon-font/dist/denali-icon-font.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/denali-css/css/denali.css">
    <title>Latitude Rim Weight Calculator</title>
    <style>

        a {
            margin: 20px 0px;
            display: block;
        }

        #add-factor {
            margin-left: 1vw;
        }

        body {
            padding: 25px;
        }

        #compute {
            margin-top: 5vh;
        }

        .factor p:first-child {
            margin-right: 35px;
            font-weight: bold;
        }

        #file-form {
            margin-top: 25px;
        }
            
        #grouping-var {
            margin-bottom: 35px;
        }

        h1 {
            margin-bottom: 25px;
        }

        .inline {
            display: inline-block;
        }

        input[type="text"] {
            width: 60px;
            margin-right: 3px;
        }

        .input-group {
            margin-right: 25px;
        }

        .factor * {
            display: inline;
        }

        .factor > input {
            width: 40px;
            margin-right: 3px;
        }

        .factor > label {
            margin-left: 2vw;
            margin-right: 1vw;
        }

        .remove-factor {
            text-decoration: underline;
            color: blue;
            float: right;
            margin-left: 35px;
        }

        .report-section :first-child {
            width: 190px;
            display: inline-block;
            font-weight: bold;
        }


        select {
            margin-bottom: 3vh;
        }

        span + span {
            width: 100px;
            display: inline-block;
        }

        #weighting-factors {
            margin-top: 2vh;
            width: max-content;
        }
    </style>
    <noscript><p class="error">Javascript must be enabled to use this tool.</p></noscript>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('document').ready(()=>{
            let savFile;
            let metaDataList;
            let metaDataObj;
            let factorList = [];

            $('#file').change(function(){    
                    $('#file-select-container').append('<p class="status">Uploading...</p>'); 
                    let file = getFile();
                    sendFile(file);
            });


            function getFile(){   
                var fileSelect = document.getElementById('file'); 
                let formData = new FormData(); 
                savFile = $('#file')[0].files[0];
                formData.append('file', savFile);
                return formData;
            }

            function sendFile(fileToSend){
                $.ajax('/get-meta', {
                    method: 'POST',
                    data: fileToSend,
                    processData: false,
                    contentType: false, 
                    success: (results)=>{
                        $('.status').remove(); 
                        console.log(results);
                        metaDataList = results.meta_data_array;
                        metaDataObj = results.meta_data_obj;
                        displaySelectionView();
                    },
                    error: (jqXHR, textStatus, errorThrown)=>{
                        console.log(`${errorThrown} - ${textStatus}`); 
                        $('.status').text("Sorry, there was a problem processing your data.");
                    }
                });
            }


            function displaySelectionView(){
                console.log(metaDataObj);
                clearScreen();
                $('body').append('<p>Choose question to group by:</p>')
                appendQuestionSelectionList('group-select');
                $('body').append('<div id="grouping-var"></div>')
                
                $('body').append('<p>Choose questions to weight by:</p>')
                appendQuestionSelectionList('q-select');
                $('body').append('<button class="button is-ghost" id="add-factor">Add</button>')
                
                $('body').append('<div id="weighting-factors"></div>')
                $('body').append('<button class="button is-solid" id="compute">Compute weights</button><p class="error" id="error"></p>')

            }

            function appendQuestionSelectionList(id){
                $('body').append(`<div class="input has-arrow inline"><select id="${id}"></select><div>`);
                $(`#${id}`).append(`<option value=''></option>`);
                metaDataList.forEach((question)=>{
                    if (question['name']){
                        if (question['type'] && (question['type'] === 'single')){
                            $(`#${id}`).append(`<option value=${question['name']}>${question['name']}</option>`);
                        }
                    }
                });

            }

            function addFactorEntry(varName){    
                $('#weighting-factors').append(`<div id=${varName} class="factor"><p>${varName}</p><p class="remove-factor" id="clear-${varName}">Remove</p></div>`);
                // what if no value labels
                let values = metaDataObj[varName]['values'];
                values.forEach((value) => {
                    let val = value.value;
                    $(`#clear-${varName}`).before(`<div class="input-group"><label class="${varName}-val-label" for="${varName}_${val}">${val}</label><div class=input><input type="text" class="dec ${varName}-factor" id="${varName}_${val}"></div><p>%</p></div>`);
                });
            }


            $(document).on('click', '#add-factor', (event)=>{
                let varName = $('#q-select').val();
                if (factorList.includes(varName) || varName === null || varName === ''){ // check to make sure variable isn't already added
                    return;
                } else {
                    factorList.push(varName); // add to list of variables to be used for weighting
                    $(`option[value="${varName}"]`).attr('disabled', true) // disable in select dropdown
                    addFactorEntry(varName);
                }
                
            });

            $(document).on('keypress', '.dec', (event)=>{  // make sure text entered in weight factor box is a number
                if (isNaN(parseInt(event.key)) && event.key !== "."){
                    event.preventDefault();
                }
            });

            $(document).on('click', '.remove-factor', (event)=>{  // remove factor when x is clicked
                let parentId = event.currentTarget.parentElement.id;
                $(`#${parentId}`).remove() // remove div
                // remove variable from list
                let ind = factorList.indexOf(parentId) 
                if (ind >= 0){
                    factorList.splice(ind, 1);
                }
                // un-disable
                $(`option[value="${parentId}"]`).attr('disabled', false) // disable in select dropdown

            }); 

            $(document).on('click', '#compute', ()=>{
                clearError();
                let numFactors = $('.factor').length;
                let factors = $('.factor');
                let groupVar = $('#group-select').val();

                if (numFactors === 0){
                    console.log("You need to add at least one factor");
                    showError("You need to add at least one factor");
                    return;
                }


                if (factorList.includes(groupVar) || groupVar === null){
                    console.log("You can't group by a weighting factor");
                    showError("You can't group by a weighting factor");
                    return;
                }


                let targets = populateTargets(factors, numFactors);
                console.log(targets);

                if (targets){
                    if (groupVar !== '' && groupVar !== null){
                        groupVar = metaDataObj[groupVar]
                    }
                    let data = {
                        targetVariables: factorList,
                        targetMapping: targets,
                        groupingVariable: groupVar,
                    }

                    $.ajax('/compute-weights', {
                        method: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        processData: false,
                        success: (results)=>{
                            console.log(results);
                            console.log(results.crosstabs);
                            console.log(results.report);
                            if(results.success){
                                displayResultsView(results.location, results.crosstabs, results.report);
                            } else {
                                displayFetchErrorView();
                            }
                        },
                        error: (jqXHR, textStatus, errorThrown)=>{
                            console.log(`${errorThrown} - ${textStatus}`);
                            displayFetchErrorView();
                        }
                    }); 
                } 

                

            });

            function displayFetchErrorView(){
                clearScreen();
            }

            function displayResultsView(fileLocation, crosstabs, report){
                clearScreen();
                $('body').append(`<a href="${fileLocation}" download>Click here to download your weighted file</a>`);
                $('body').append('<h3>Results</h3>');
                // fix spacing
                let spaceRegex = /\s{3,}/;
                report = report.split("\n");
                report = report.map(row => row.split(spaceRegex));
                crosstabs = crosstabs.split("\n");
                crosstabs = crosstabs.map(row => row.split(spaceRegex));

                [report, crosstabs].forEach((section)=>{
                    section.forEach((row)=>{
                        let rowString  = '';
                            row.forEach((cell)=>{
                                rowString += `<span>${cell}</span>`
                            });
                        $('body').append(`<div class="report-section">${rowString}</div>`);
                    });
                });

            }

            function clearScreen(){
                $('p').remove();
                $('select').remove();
                $('button').remove();
                $('#grouping-var').remove();
                $('#weighting-factors').remove();
                $('#file-select-container').remove();
                $('.input').remove();
            }
            
            function populateTargets(factors, numFactors){
                // loop through factors and validate each sum
                let targets = {};
                console.log(factors);
                for (let i=0; i<numFactors; i++){
                    let factor = factors[i];
                    console.log(factor);
                    console.log(factor.id);
                    let q = factor.id;

                    // get target percentages
                    let pcts = $(`.${q}-factor`);
                    console.log(pcts);
                    let numValues = $(`.${q}-factor`).length;
                    console.log(numValues);
                    if (numValues === 0){ // this really shouldn't happen
                        showError("Looks like there's a problem.");
                        return null;
                    } else {
                        // loop through percentages
                        for (let j=0; j<numValues; j++){
                            let value = pcts[j].labels[0].textContent;
                            let target = pcts[j].value;

                            if (targets[q] === undefined){ // variable has not been added to targets
                                targets[q] = [];
                            }

                            if (target !== '' & target != 0){ // target box is not empty and not 0
                                // problem if only weighted value is 100
                                targets[q][value] = parseFloat(target);
                            }

                        }

                        if(!sumsTo100(targets[q])){
                            showError(`The target percentages for ${q} must add up to 100.`);
                            return null;
                        }

                        // replace list with object
                        targets[q] = convertArrayToObject(targets[q]);
                    }
                }

                return targets;
            }

            function sumsTo100(array){
                let sum = array.reduce((acc, cValue)=>{
                    if (acc === undefined){
                        acc = 0;
                    }
                    if (cValue){
                        acc += cValue;
                    }
                    
                    return acc;
                });

                if (sum === 100) {
                    return true;
                } else{
                    return false;
                }
            }

            function convertArrayToObject(arr){
                let obj = {};

                for (let i=0; i<arr.length; i++){
                    if (arr[i] !== undefined && arr[i] !== null){
                        obj[i] = arr[i];
                    }
                }

                return obj;
            }

            function showError(message){
                $('#error').text(message);
            }

            function clearError(){
                $('#error').text("");
            }


        });

        $(window).on('beforeunload', (event)=>{
            navigator.sendBeacon('/close');
        });


    </script>
</head>

<body>
    <h1>Rim Weight Calculator</h1>
    <div>
        <div id="file-select-container">
            <form id="file-form">
                <div class="input-group is-stacked">
                    <label for="file">Select an SPSS data file (.sav)</label><input type="file" name="file" id="file" accept=".sav" required>
                </div>
            </form>
        </div>
    </div>
</body>
</html>