<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Denali CSS & Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/denali-icon-font/dist/denali-icon-font.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/denali-css/css/denali.css">
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
    <link rel="shortcut icon" type="image/png" href={{ url_for('static', filename="balance-1956.png") }}>
    <title>Latitude RIM Weight Calculator</title>
    <noscript><p class="error">Javascript must be enabled to use this tool.</p></noscript>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- needed for ajax calls -->
  </head>
  <body>
    <div id="app"></div>
    <script src="../static/dist/build.js"></script>  <!-- for dev -->
    <script src={{ url_for('static', filename="./dist/build.js") }}></script>  <!-- for prod -->
  </body>
</html>
